@media (min-width: 1199.99px) and (max-width: 1500px) {

    /* = = = = = = = Navbar--start = = = = = = = */
    .py-5 {
        margin-bottom: 3.7895rem !important;
    }

    .navbar .navbar-brand {
        font-size: 1.8000rem;
        color: #1f1f25;
        font-weight: 500;
        font-family: 'Fasthand', sans-serif;
    }

    .navbar .navbar-brand span {
        color: #f9004d;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: #1f1f25;
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5px;
        padding: 0px 10px;
        transition: all 0.3s ease;
    }

    .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #f9004d;
    }

    /* = = = = = = = Main--start = = = = = = = */

    .row .main-text>h1 {
        font-size: 42px;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        line-height: 60px;
    }

    .row .main-text h1>span {
        color: #f9004d;
    }

    .row .main-text>p {
        letter-spacing: 0.5px;
    }

    .main-content img {
        width: 100%;
        height: auto;
    }

    /* = = = = = = = Main--end = = = = = = = */

    /* = = = = = = = Navbar--end = = = = = = = */

    /* = = = = = = = About--start = = = = = = = */
    .about-content {
        width: 100%;
        height: auto;
    }

    .about-content .row .about-img {
        padding: 20px 0px;
    }

    .about-content .row .about-img img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 200px 5px rgba(0, 0, 0, 0.158);
    }

    .about-content .row .about-text>h1 {
        font-size: 50px;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        color: #1f1f25;
        margin-bottom: 25px;
    }

    .about-content .row .about-text>p {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        color: #9b9b9b;
        text-align: justify;
        line-height: 25px;
    }

    .about-content .row .about-text .btn {
        outline: none;
        background: #f9004d;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5px;
        margin-top: 8px;
        transition: all 0.3s ease;
    }

    .about-content .row .about-text .btn:hover {
        background: #d30043;
        color: #fff;

    }

    /* = = = = = = = About--end = = = = = = = */

    /* = = = = = = = service--start = = = = = = = */
    .service-content {
        width: 100%;
        height: auto;
        padding: 25px;
    }

    .service-content .row .service-text>h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-weight: 800;
        color: #1f1f25;
        text-align: center;
    }

    .service-content .row .service-text>p {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #9d9d9d;
        text-align: center;
    }

    .service-content .row .wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        /* align-items: center; */
        padding: 0.9365rem 0rem;
        /* background: #f9004d; */
    }

    .service-content .row .wrapper .service-card {
        width: 100%;
        height: 28.125rem;
        padding: 2rem 1rem;
        /* background: rgb(249, 0, 77); */
        display: flex;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        align-items: flex-end;
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
    }

    .service-content .row .wrapper .service-card:hover {
        transform: translateY(20px);
    }

    .service-content .row .wrapper .service-card::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        border-radius: 6px;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(249, 0, 79, 0.226), rgba(849, 0, 77, 1));
        transition: all 0.3s ease-in-out;
        opacity: 0;

    }

    .service-card:hover::before {
        opacity: 1 !important;
        z-index: 2;
    }

    .service-card img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        border-radius: 6px;
    }

    .service-card .info {
        position: relative;
        z-index: 3;
        color: #fff;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-in-out;
    }

    .service-card:hover .info {
        opacity: 1 !important;
        transform: translateY(0px);
    }

    .service-card .info>h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    .service-card .info>p {
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
        letter-spacing: 0.5px;
    }

    .service-card .info .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        border: #fff 2px solid;
        color: #fff;
        transition: all 0.3s ease;
    }

    .service-card .info .btn:hover {
        background: #fff;
        color: #1f1f25;
    }

    /* = = = = = = = service--end = = = = = = = */

    /* = = = = = = = contact--start = = = = = = = */
    .contact-content {
        width: 100%;
        height: auto;
    }

    .contact-content .row .contact-info .contact-text {
        width: 100%;
        height: 100%;
        padding: 25px 0px 10px 0px;
        margin-bottom: 10px;
        /* background: #f9004d; */
    }

    .contact-content .row .contact-info .contact-text>h1 {
        font-size: 50px;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .contact-content .row .contact-text>p {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: #9b9b9b;
    }

    .contact-content .row img {
        width: 100%;
        height: 90%;
        /* background: #1f1f25; */
    }

    .contact-content .row .contact-form {
        width: 100%;
        height: 100%;
        /* background: #f9004d; */
        padding-top: 100px;
    }

    .contact-content .row .contact-form input,
    textarea {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 25px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        color: #a7a7a7;
        background: none;
        outline: none;
        border-radius: 6px;
        border: 2px solid #9d9d9d;
        transition: all 0.3s ease;
    }

    .contact-content .row .contact-form input:focus,
    textarea:focus {
        border: 2px solid #f9004d;
        color: #1f1f25;
    }

    .contact-content .row .contact-form .btn {
        padding: 8px 35px;
        background: #f9004d;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.5px;
        color: #fff;
        transition: all 0.3s ease;
    }

    .contact-content .row .contact-form .btn:hover {
        background: #d30043;
    }

    /* = = = = = = = contact--end = = = = = = = */

    /* = = = = = = = footer--start = = = = = = = */
    .footer-content {
        width: 100%;
        height: auto;
        background: #f9004d;
    }

    .footer-content .row .footer-text p {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    /* = = = = = = = footer--end = = = = = = = */
}